<!-- Video banner 400 px height -->
<div id="tm-video-container">
    <video autoplay muted loop id="tm-video">
        <source src="video/ocean-sea-wave-video.mp4" type="video/mp4">
    </video>
    <i id="tm-video-control-button" class="fas fa-pause"></i>
</div>
<div class="tm-container">
    <nav class="tm-main-nav">
        <ul id="inline-popups">
            <li class="tm-nav-item">
                <a href="#intro" data-effect="mfp-move-from-top" class="tm-nav-link">
                    Introduction
                    <i class="fas fa-3x fa-water"></i>
                </a>
            </li>
            <li class="tm-nav-item">
                <a href="#gallery" data-effect="mfp-move-from-top" class="tm-nav-link" id="tm-gallery-link">
                    Gallery
                    <i class="far fa-3x fa-images"></i>
                </a>
            </li>
            <li class="tm-nav-item">
                <a href="#testimonials" data-effect="mfp-move-from-top" class="tm-nav-link">
                    Testimonials
                    <i class="far fa-3x fa-smile"></i>
                </a>
            </li>
            <li class="tm-nav-item">
                <a href="#about" data-effect="mfp-move-from-top" class="tm-nav-link">
                    About
                    <i class="fas fa-3x fa-tint"></i>
                </a>
            </li>
            <li class="tm-nav-item">
                <a href="#contact" data-effect="mfp-move-from-top" class="tm-nav-link">
                    Contact
                    <i class="far fa-3x fa-comments"></i>
                </a>
            </li>
        </ul>
    </nav>

    @RenderPage("intro.cshtml")
    @RenderPage("gallary.cshtml")
    @RenderPage("testimonials.cshtml")
    @RenderPage("about.cshtml")
    @RenderPage("contact.cshtml")
    </div>
